<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">WEB API con Net Framework, Entity Framework (Code First)</p>
    <p><a href="/swagger" class="btn btn-primary btn-lg">Iniciar con Swagger</a></p>
</div>

